.navbar {
    background-color: #ffae00;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo {
    background-color: #03a9f4;
    color: white;
    padding: 30px;
}
.navlinks {
    display: flex;
}
.navitem *{
    font-size: 18px;
    color: white;
    padding: 8px;
}
.navitem:last-child {
    background-color: #03a9f4;
}
